@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-display: auto;
  font-weight: 100;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-100-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-100-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-100-normal.ttf) format('truetype');
}
/* iosevka-latin-200-normal */
@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-display: auto;
  font-weight: 200;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-200-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-200-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-200-normal.ttf) format('truetype');
}
/* iosevka-latin-300-normal */
@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-display: auto;
  font-weight: 300;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-300-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-300-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-300-normal.ttf) format('truetype');
}
/* iosevka-latin-400-normal */
@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-display: auto;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-400-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-400-normal.ttf) format('truetype');
}
/* iosevka-latin-500-normal */
@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-display: auto;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-500-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-500-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-500-normal.ttf) format('truetype');
}
/* iosevka-latin-600-normal */
@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-display: auto;
  font-weight: 600;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-600-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-600-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-600-normal.ttf) format('truetype');
}
/* iosevka-latin-700-normal */
@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-display: auto;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-700-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-700-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-700-normal.ttf) format('truetype');
}
/* iosevka-latin-800-normal */
@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-display: auto;
  font-weight: 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-800-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-800-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-800-normal.ttf) format('truetype');
}
/* iosevka-latin-900-normal */
@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-display: auto;
  font-weight: 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-900-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-900-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-900-normal.ttf) format('truetype');
}

@import 'colors';

// -------------- THEME SWITCHER -------------- //
/* @mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);

    &.ioda { filter: invert(0); }
  }
  .emoji { filter: invert(1); }
  iframe {
    filter: invert(1);
  }
}

body[a="dark"] { @include dark-appearance; }


@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
} */
// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body { background: $outer-bg-color; }

html { height: 100%; scroll-behavior: smooth; }

body {
  color: $fg-color;
  /* font-family: monospace; */
  font-family: 'Iosevka', monospace;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

.post-meta { text-align: right; }

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { background: yellow; }

.w {
  max-width: 640px;
  margin: 0 auto;
  background-color: $bg-color;
  padding: 4rem 2rem;
}

a {
  color: $link-color;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: white;
  background: black;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
